{% extends 'base.html' %}
{% block title %} Vos posts {% endblock title %}

{% block content %}
    <div class="posts-page base-page">
        <div class="icone-title">
            <h2>Vos posts</h2>
        </div>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% for post in posts %}
            {% if post.ticket %}
                <div class="post-review">
                    <div class="title-date">
                        <div class="post-icone">
                            <div class="post-icone-title">
                                Vous avez publié une critique
                            </div>
                        </div>
                        {{ post.time_created }}
                    </div>
                    <div>
                        <div class="star-rating">
                            <span>{{ post.headline }}</span>
                            <span class='stars'>
                                {% for star in "x"|rjust:post.rating %}
                                {% endfor %}
                            </span>
                        </div>
                        <p class="text-description">{{ post.body }}</p>
                    </div>
                    <div class="post-ticket-review">
                        <div class="post-icone">
                            <div class="post-icone-title">
                                <span>Ticket - <strong>{{ post.ticket.user }}</strong></span>
                            </div>
                            <span>{{ post.ticket.time_created }}</span>
                        </div>
                        <p><strong>{{ post.ticket.title }}</strong></p>
                        <p class="text-description">{{ post.ticket.description }}</p>
                        {% if post.ticket.image %}
                            <img src="{{ post.ticket.image.url }}" alt="{{ post.ticket.title }}">
                        {% else %}
                            <p>Aucune image associée à ce ticket.</p>
                        {% endif %}                    
                    </div>
                    <div class="connexion-button button-submit-right">
                        <a href="{% url 'review_update' post.id %}" class="submit-button">Modifier</a>
                        <a href="{% url 'review_delete' post.id %}" class="submit-button">Supprimer</a>
                    </div>
                </div>
            {% else %}
                <div class="post-ticket">
                    <div class="title-date">
                        <div class="post-icone">
                            <div class="post-icone-title">
                                Vous avez publié un ticket
                            </div>
                        </div>
                        {{ post.time_created }}
                    </div>
                    <p><strong>{{ post.title }}</strong></p>
                    <p class="text-description">{{ post.description }}</p>
                    {% if post.image %}
                        <img src="{{ post.image.url }}" alt="{{ post.title }}">
                    {% endif %}
                    <div class="connexion-button button-submit-right">
                        {% if not post.has_review %}
                            <a href="{% url 'ticket_update' post.id %}" class="submit-button">Modifier</a>
                        {% endif %}
                        <a href="{% url 'ticket_delete' post.id %}" class="submit-button">Supprimer</a>
                    </div>
                </div>

            {% endif %}

        {% endfor %}

    </div>
{% endblock content %}