{% extends 'base.html' %}
{% block title %} Mettre à jour ou répondre au ticket {% endblock title %}

{% block content %}
<h2>{{ ticket.title }}</h2>
<p>{{ ticket.description }}</p>

{% if can_edit %}
    <h3>Modifier le ticket</h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Mettre à jour</button>
    </form>
{% else %}
    <h3>Répondre au ticket</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Publier la critique</button>
    </form>
{% endif %}
{% endblock content %}