{% extends 'base.html' %}

{% block title %} Demander une critique {% endblock title %}

{% block content %}

<div style="display: flex; flex-direction: column; align-items: center;">
    <h1>Créer un ticket</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            <div>
                <label for="ticket_title_id">Titre</label>
                {{ form.title }}
            </div>
            <div>
                <label for="ticket_description_id">Description</label>
                {{ form.description }}
            </div>
            <div>
                <label for="review_image_id">Image</label>
                {{ form.image }}
            </div>
        </fieldset>
        <div>
            <input type="submit" value="Envoyer">
        </div>
    </form>    
</div>

{% endblock %}